<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<servlet>
		<servlet-name>AddCustomer</servlet-name>
		<servlet-class>com.test.task.AddCustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCustomer</servlet-name>
		<url-pattern>/addCustomer</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UpdateCustomer</servlet-name>
		<servlet-class>com.test.task.UpdateCustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateCustomer</servlet-name>
		<url-pattern>/updateCustomer</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RemoveCustomer</servlet-name>
		<servlet-class>com.test.task.RemoveCustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveCustomer</servlet-name>
		<url-pattern>/removeCustomer</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app> 